.headerNav {
  /* background-image: linear-gradient(to right,white,rgb(74, 233, 74)); */
  background-color: rgb(96, 248, 116);
  padding: 1rem;
  padding-bottom: 0.5rem;
  position: sticky;
  top: 0;
  margin-bottom: 1vh;
  z-index: 100;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
}

.logo {
  margin: auto 0;
}

.headerLogo {
  color: white;
  text-shadow: 40px red;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  font-family: Arial, 'Helvetica', sans-serif;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: pink; */
}

/* nav a:hover,
i:hover {
  color: var(--black-hover);
} */

/* .userLocation .fa-map-marker:hover {
  color: var(--black);
} */

.navLinks {
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

/* .navLinkHover {
  margin-right: 10px;
} */

.editLocation{
  border: none;
  height: 2.5rem;
  margin-top: 0%;
}

.editLocation :hover{
  border: 1px solid black;
}

.userLocation {
  display: inline-flex;
  align-items: center;
  margin: 0;
  margin-bottom: 0%;
  margin-top: 0%;
  margin-right: 0.5rem;
}
.userLocation :hover{
  border: none;
}

/* .userLocation p {
  color: var(--color1);
  margin: 3px;
  border-bottom: 2px solid var(--color2);
} */
.userLocationContent{
  margin-right: 1%;
  width: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 650;
  text-align: left;
  margin-bottom: 0%;
  margin-top: 0%;
  padding: 0.25rem;
}

.DeliveryZipCode{
  font-size: 16px;
  text-align: left;
  font-weight: 100;
  text-decoration: underline;
}

.HeaderDropDown {
  align-items: center;
  height: 2.5rem;
  text-align: left;
  margin-right: 0.5rem;
}
.HeaderDropDown:hover .headerProfileDropDown{
  display: block;
}
.dropButtonContainer{
  text-align: left;
  border: none;
  height: 1.5rem;
}
.dropButtonContainer :hover{
  border: 0.5px solid black;
}
.dropbtn {
  text-align: left;
  border: none;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.dropbtn :hover{
  border: none;
}
.dropButtonGreeting{
  font-size: 13px;
  margin: 0;
  font-weight: 650;
  margin-right: 40%;
  text-align: left;
}
.headerProfileDropDown{
  display: none;
  background-color: lightgreen;
  margin-top: 1.0rem;
  padding: 0.25rem;
  width: 6vw;
  margin-right: 0%;
  margin-left: 40%;
  grid-template-rows: auto auto;
}
.headerProfileDropDownElements{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 1%;
  margin-top: 10%;
}
.headerProfileDropDownElements :hover{
  text-decoration: underline;
  cursor: pointer;
}
.CartLinkHeader{
  height: 2.5rem;
  align-items: center;
  margin-right: 0.5rem;
}
.CartLinkHeader :hover{
  border: 0.5px solid black;
}
.cartLinkElement{
  color: black;
  display: inline-flex;
}
.cartLinkElement :hover{
  border: none;
}
.headerCart{
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 1rem;
  align-items: center;
  cursor: pointer;
  margin-top: 20%;
  margin-bottom: 20%;
}
.headerCart :hover{
  border: none;
}
.cartText{
  font-weight: 400;
}
#cartQty {
  background-color: var(--white);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  position: relative;
  top: -2vh;
  right: 0.25vw;
}

@media (max-width: 420px) {
  .headerNav {
    justify-content: space-between;
  }

  .headerLogo {
    font-size: 1rem;
  }

  .navLinks {
    margin-right: 40px;
  }

  #cartQty {
    right: 55px;
  }
}
