/*danger button*/
.dangerBtn {
  cursor: pointer;
  transform: scale(0.8);
  background-color: var(--danger);
}

.dangerBtn:hover {
  background-color: var(--danger-hover);
}

.dangerBtn:active {
  transform: scale(0.75);
}

/*warning button*/
.warningBtn {
  cursor: pointer;
  transform: scale(0.8);
  background-color: var(--warning);
  border-radius: 10px;
  padding: 10px 20px;
}

.warningBtn:hover {
  background-color: var(--warning-hover);
}

.warningBtn:active {
  transform: scale(0.75);
}
